.main {
  width: 100%;
  padding: 30px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.title {
  font-size: 34px;
  font-weight: 600;
}

.input-wrapper {
  position: relative;
}

.input {
  width: 380px;
  height: 20px;
  padding: 10px 40px;
  border: none;
  background-color: #2c786d20;
  border-radius: 10px;
}

.search-icon {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 20px;
  height: 20px;
}
