.app {
  height: 100vh;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.navMenu {
  border-right: 0.5px solid #004445;
  position: relative;
  min-width: 300px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.nav {
  margin: 50px 0px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.name {
  font-size: 22px;
  font-weight: 600;
  align-self: center;
}

.email {
  color: #004445ae;
  align-self: center;
}

.svg {
  width: 18px;
  height: 18px;
}

.link {
  display: flex;
  align-items: center;
  gap: 10px;
}
